.no_products {
  min-height: 50vh;
}

.no_pr_show {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.no_pr_show > img {
  width: 100px !important;
  margin-bottom: 30px;
}

.no_pr_show > h2 {
  font-size: 20px;
  font-weight: 500;
  color: #333;
}