.navbar {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #e3e3e3;
  display: flex;
  align-items: center;
}

.navbar-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brows-div {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #6baf0b;
  min-width: 280px !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px;
  position: relative;
}

.category-hide > li {
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transition: all .4s ease;
  padding-right: -30px;
} 

.category-hide > li:hover > svg {
  transition: all .4s ease;
}


.category-hide > li > a {
  text-decoration: none;
  color: #333;
  transition: all .4s ease;
}

.category-hide > li > a:hover {
  color: #6baf0b;
}

.category-hide > li > a svg {
  font-size: 20px;
  fill: #333;
  margin-right: 10px;
  transition: all .4s ease;
}

.category-hide > li > a:hover svg {
  fill: #6baf0b;

}

.category-hide > li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-decoration: none;
  color: #333;
}

.category-hide > li a > svg {
  color: #e3e3e3;
  fill: #e3e3e3;
}

.category-hide > li:hover .fruit-hover_flex {
  opacity: 1;
  visibility: visible;
  left: 263px;
}

.category-hide > li:hover .vegetables-hover {
  opacity: 1;
  visibility: visible;
  left: 263px;
}

.category-hide > li:hover .drink_hover {
  opacity: 1;
  visibility: visible;
  left: 263px;
}

.brows-div:hover .category-hide {
  position: absolute;
  top:60px;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 2px solid #6baf0b;
  border-left: 2px solid #6baf0b;
  border-right: 2px solid #6baf0b;
  list-style: none;
  padding: 15px;
  z-index: 222;
  display: block;
}

.brows-div > i {
  font-size: 22px;
  color: #fff;
  margin-right: 10px;
}

.brows-div > h3 {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}

.center-nav-ul {
  width: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: 50px;
}

.center-nav-ul li {
  margin-right: 20px;
  position: relative;
}

.home_hover {
  position: absolute;
  width: 99.5vw;
  height: 72vh;
  background-color: #fff;
  top: 60px;
  left: -510px;
  visibility: hidden;
  opacity: 0;
  transition: all .4s ease;
  border: 1px solid #e3e3e3;
  z-index: 333;
}

.center-nav-ul li:hover .home_hover {
  visibility: visible;
  opacity: 1;
  top: 41px;
}

.home_hover_grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 50px;
  justify-items: center;
  padding-top: 50px;
  text-align: center;
}


.home_hover_grid > div > img {
  width: 160px;
  transition: all .4s ease;
  cursor: pointer;
  border: 1px solid #e3e3e3;
}

.home_hover_grid > div > h3 {
  color: #333;
  font-size: 16px;
  font-weight: 500;
}

.home_hover_grid > div > img:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.center-nav-ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  display: flex;
  align-items: center;
  
}

.center-nav-ul li a > i {
  color: #c8c7c7;
}

.center-nav-ul li a > p {
  font-size: 15px !important;
}

.center-nav-ul li a > p {
  position: relative;
}

.center-nav-ul li a > p::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  transition: all .4s ease;
  width: 0;
  height: 1.5px;
  background-color: #333;
}

.center-nav-ul li:hover a > p::before {
  width: 100% !important;
}

.operator-div {
  display: flex;
  align-items: center;
  transition: all .4s ease;
  cursor: pointer;
  border: none;
  background-color: #fff;
}

.operator-div:hover {
  color: #6baf0b;
}